/* src/styles/Company.module.css */

/* ラッパーをflexで横並びに */
.companyWrapper {
    padding: 0 20px;
    gap: 30px;
    margin-bottom: 30px;
  }
  
  /* 既存の comtitle */
  .comtitle {
    text-align: left;
  }
  .comtitle h1 {
    font-size: 50px;
    letter-spacing: 1.2vw;
    margin-top: 70px;
    line-height: 1.6em;
    word-break: normal;
    overflow-wrap: normal;
  }
  
  
  /* モバイル時の調整 */
  @media screen and (max-width: 650px) {
    .companyWrapper {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      text-align: center;
    }
    .comtitle h1 {
      /* 自動改行を許可 */
      font-size: 27px;
      word-break: break-all;      /* 文字単位で折り返し */
      overflow-wrap: break-word;  /* 単語単位で折り返し */
      white-space: normal;        /* 折り返しを強制 */
      margin-top: 40px;
    }
    
  }