
.ceoimage {
    margin-left: 30px;
    margin-left: 12.8vw;
    text-align: left;
}

.ceoimage img {
    width: 36%;
    border: solid 2.3vw #f9f9f9;
}


        @media screen and (max-width: 650px){
                
        .ceoimage img {
            width: 40%;
        }
        }

    

