/* src/styles/Header.module.css */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.logo {
  width: 40%;       /* ロゴ幅を40%に */
  margin-left: 20px;
  margin-top: 9.5px;
}

.today {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin-top: 9.5px;
  padding-right: 45%;
}


@media screen and (max-width: 530px) {
  .logo {
    width: 20%;
  }
  .today {
    gap: 2px;
  }
  .date p,
  .title p {
    font-size: 10px;
    font-weight: 600;
  }
}
@media screen and (max-width: 450px) {
  .logo {
    width: 2%;
    margin-left: 3.2vw;
  }}