.supplier {
    width: 100%;
    margin: 0 auto;
}

.supplier h1 {
    font-size: 35px;
    margin-bottom: 48px;
    margin-top: 110px;
    padding: 0 20px;
}

.suppliercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12.8vw;
    word-wrap: break-word;
}

.suppliername {
    padding-top: 40px;
    word-wrap: break-word;
    margin: 0 auto;
    align-items: center;
}

.S_span{
    display: inline-block;
    padding-top: 1.1vh;
    }

.suppliername p {
    text-align: center;
    font-size: 16px;
    line-height: 3.07vw;
    margin-bottom: 28px;
}

.supplierimg {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.supplierimg img {
     display: flex;
    justify-content: center;
    margin: auto;
    width: 18%;
    height: 18%;
}

        @media screen and (max-width: 650px){
            
              
        .suppliername p{
            font-size: 12px;
        }
       
    }
    
    @media screen and (max-width: 450px){
        
      .supplier h1 {
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 70px;
      }
      .suppliercontent {
        padding: 0 15px;
    }
    .suppliername {
        margin-top: -10px;
        padding-top: 0px;
        padding-left: 7px;
    }
    .suppliername p{
        font-size: 12px;
        text-align: left;
    }
    .supplierimg {
        display: flex;
        flex-wrap: wrap;       /* はみ出したら改行 */
        justify-content: left;/* 中央寄せ */
      }
      .supplierimg img {
        display: block;        /* ブロック化して幅通りに収める */
        width: 27%;            /* ご要望の幅 */
        max-width: 120px;      /* 任意で最大値を設定するとさらに安定します */
        height: auto;          /* アスペクト比維持 */
        margin: 10px;     /* 上下10px、左右中央寄せ */
      }
    
}