.topMain {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  height: clamp(94vh, 93vh, 0%);
  justify-content: space-between;
}

@supports (-webkit-appearance:none) and (stroke-color:transparent) {
  .topMain {
    height: clamp(93vh, 92vh, 0%);
    height: calc(var(--vh, 1vh) * 93);
  }
}

.imageContainer {
  display: flex;
  justify-content: space-between;
}

.imageContainer img {
  object-fit: contain;
  width: 100%;
}

/* ↓ 450px 以下ではホバー動作を全て無効化する */
@media screen and (max-width: 450px) {
  .topMain {
    /* 指示どおり高さ 80vh にし、max-width を none にする */
    margin-top: 12px;   /* 元からついていた余白は残す */
    height: 67vh;
    max-width: none;
  }


  /* .imageContainer:hover img,
  .imageContainer:hover .frontSide,
  .imageContainer:hover .backSide,
  .imageContainer.otherHovering .frontSide,
  .imageContainer.otherHovering .noHover {
    display: none !important;
  }

  .imageContainer img {
    display: block !important;
    width: 100% !important;
  } */
}
