@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Noto+Sans+JP:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    margin-top: 8px;
}

.logo {
    width: 9%;
    margin-top: 0.81vw;
    margin-left: 1.25vw;
}

#greet {
    width: 100%;
    display: flex;
    text-align: center;
    margin-top: 48px;
}

#greet img {
    width: 52%;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 12.8vw;
    margin-top: -20px;
    text-align: left;
}

.container p {
    font-size: 20px;
    letter-spacing: 4px;
    padding-top: 42px;
    line-height: 46px;
    font-weight: 500;
    width: 74.4vw;
    text-align: justify;
    margin-top: -30px;
}

.comTitle {
    text-align: left;
    margin-left: 12.8vw;
}

.comTitle h1 {
    font-size: 3.6vw;
    letter-spacing: 1.2vw;
    margin: 0;
    margin-top: 14px;
    line-height: 6vw;
}

.name {
    text-align: left;
    font-size: 2vw;
    line-height: 40px;
    white-space: nowrap;
    font-weight: 300;
}

.name p {
    margin-top: 0.5vw;
}

.ceoImage {
    margin-left: 12.8vw;
    text-align: left;
}

.ceoImage img {
    width: 36%;
    border: solid 2.3vw #f9f9f9;
}

#companyInfo {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    padding: 0 12.8vw;
    margin-top: 60px;
}

#companyInfo h1 {
    height: 100%;
    font-size: 40px;
    margin-bottom: 60px;
}

.yokoyama {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #D9D9D9;
    padding-bottom: 5px;
    align-items: flex-end;
    font-weight: 500;
}

.yokoyama2 {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
}

.yokoyama3 {
    font-size: 15px;
    color: rgb(0, 255, 0);
    margin: 0;
}

.place {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #D9D9D9;
    align-items: flex-end;
    padding-bottom: 5px;
    padding-top: 61px;
    font-weight: 500;
}

.place2 {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
}

.place3 {
    font-size: 15px;
    color: rgb(0, 255, 0);
    margin: 0;
}

.date {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #D9D9D9;
    padding-bottom: 5px;
    align-items: flex-end;
    padding-top: 78px;
    font-weight: 500;
}

.date2 {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
}

.date3 {
    font-size: 15px;
    color: rgb(0, 255, 0);
    margin: 0;
}

.project {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #D9D9D9;
    padding-bottom: 5px;
    align-items: flex-end;
    padding-top: 78px;
    font-weight: 500;
}

.project2 {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
}

.project3 {
    font-size: 15px;
    color: rgb(0, 255, 0);
    margin: 0;
}

.bank {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #D9D9D9;
    align-items: flex-end;
    padding-bottom: 5px;
    padding-top: 78px;
    font-weight: 500;
}

.bank2 {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
}

.bank3 {
    font-size: 15px;
    color: rgb(0, 255, 0);
    margin: 0;
}

.supplier {
    padding: 0 12.6vw;
}

.supplier h1 {
    height: 100%;
    font-size: 30px;
    margin-bottom: 48px;
    margin-top: 18vh;
}

.supplierContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12.8vw;
    word-wrap: break-word;
}

.supplierName {
    padding: 4 4vw;
    word-wrap: break-word;
    margin: 0 auto;
    align-items: center;
}

.SSpan {
    display: inline-block;
    padding-top: 1.1vh;
}

.supplierName p {
    text-align: center;
    font-size: 16px;
    line-height: 3.07vw;
    margin-bottom: 28px;
}

.supplierImg {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.supplierImg img {
    display: flex;
    justify-content: center;
    width: 18%;
    margin: auto;
    height: 18%;
}

.footer {
    font-size: 1.84vw;
    font-weight: bold;
    padding: 0 3.68vw;
    margin-top: 4.41vw;
    display: flex;
    margin-right: 0;
}

.leftContent {
    display: flex;
}

.goods {
    display: flex;
    flex-direction: column;
    padding: 45px 20px;
    margin-left: 0px;
    padding-left: 0;
    font-size: 40px;
    text-align: left;
}

.leftContainer {
    display: flex;
}

.goods a {
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.rank {
    font-size: 18px;
    color: rgb(0, 255, 0);
    padding-top: 53px;
}

.rank p {
    margin-bottom: 58px;
}

.goods a:hover {
    -webkit-text-stroke: 0.3px yellow;
    text-decoration: line-through;
}

.aboutGoods {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: left;
    white-space: nowrap;
    margin-left: 6.03vw;
    padding-top: 60px;
}

.aboutCom {
    display: flex;
}

.comSns {
    display: flex;
    flex-direction: column;
}

.aboutGoods p {
    margin: 0;
}

.aboutGoods a {
    list-style: none;
    text-decoration: none;
    color: gray;
    padding-top: 20px;
}

.aboutGoods a:hover {
    color: black;
}

.nav {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 15px;
    width: 100%;
    white-space: nowrap;
    padding-top: 64px;
}

.nav p {
    margin: 0;
}

.nav a {
    list-style: none;
    text-decoration: none;
    color: gray;
    padding-top: 20px;
    transition: 0.2s;
}

.nav a:hover {
    color: black;
}

.comSns {
    display: flex;
    flex-direction: column;
    margin-left: 6.7vw;
}

.SNS {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    transition: 0s;
    margin-right: 6.03vw;
    margin-left: -1.7px;
}

.SNS img {
    width: 38px;
    margin-right: 0px;
    padding-top: 0px;
}

.youtube:hover,
.X:hover,
.instagram:hover {
    opacity: 60%;
}

.comInfo {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    font-size: 16px;
    padding-top: 21px;
    font-weight: 600;
}

.comInfo p {
    line-height: 66px;
    margin-top: 21px;
}

footer {
    width: 90%;
    margin: 0 3.68vw;
    margin-bottom: 30px;
    margin-top: 68px;
}

.footerText {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
}

.footerText p {
    margin: 0;
}
